{% load static %}

<table class="ui very basic collapsing celled sortable table"
       style="padding-left: 2.5%;
                                                          padding-right: 2.5%;
                                                          padding-top: 1%;
                                                          padding-bottom: 1.5%;
                                                          margin: auto;">
    <thead>
    <tr>
        <th class="one wide column">
        </th>

        <th class="three wide column">
            File Number
        </th>

        <th class="three wide column">
            Date
        </th>

        <th class="seven wide column">
            Purpose
        </th>



        <th class="one wide column">
            Attachment
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>

        <td class="collapsing">
            <div class="ui fitted checkbox">
                <input type="checkbox"> <label></label>
            </div>
        </td>

        <td>
            4587
        </td>

        <td>
            11/04/18
        </td>

        <td>
            Release Notice
        </td>

        <td>
            {% comment %}
                TODO: Add the attachment here!
            {% endcomment %}
            <a class="ui inverted circular icon button" style="margin: auto;" target="_blank" href="">
                <i class="large attach black icon"></i>
            </a>
        </td>
    </tr>


     <tr>

        <td class="collapsing">
            <div class="ui fitted checkbox">
                <input type="checkbox"> <label></label>
            </div>
        </td>

        <td>
            4589
        </td>

        <td>
            10/04/18
        </td>

        <td>
            New Guideline
        </td>

        <td>
            {% comment %}
                TODO: Add the attachment here!
            {% endcomment %}
            <a class="ui inverted circular icon button" style="margin: auto;" target="_blank" href="">
                <i class="large attach black icon"></i>
            </a>
        </td>
    </tr>

    </tbody>
</table>


<br>

<div class="ui primary right floated button">GA</div>
<div class="ui green right floated button">PS</div>
<div class="ui red right floated button">FA</div>
<div class="ui red right floated button">ES</div>


<br>
<br>
<div class="ui divider"></div>



